{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="/" name='formpage' style="color:white">Home</a>
    <a href="{{url_for('timekeeper')}}" name='timekeeper' style="color: white">Timekeeper</a>
    <a href="{{url_for('administration')}}" name='admin' style="color:hsl(353, 85%, 44%); font-weight: bold; text-shadow: 1px 1px  black;" >Administration</a>
    <span class="nav-right"><img id='logo' src="{{url_for('static', filename='White Logo.png')}}"></span>
  </nav>
  <br>

    <h1>{% block title %} Administrative Functions {% endblock %}</h1>
<!----------------------------------------------->
    <div style="width: 50%; margin: auto" id="form-container1">
        <form action="{{url_for('administration')}}" method="post" name="changeEngineer">
        <h2> Change Engineer</h2>
        <div id="engineerChangeType">
            <div style="display:flex;">
                <input type="radio" id="add" name="function" value="add" checked="checked">
                <label for="add"> Add</label>
                <input type="radio" id="remove" name="function" value="remove" >
                <label for="remove"> Remove</label>
                <input type="radio" id="update" name="function" value="update" >
                <label for="update"> Update</label>
              </div>
        <div>
            <label>Active Engineers: </label>
            <select name="EngineerInput" id="engineer">
            {% for engineer in data["engineers"] %} 
              {% if data["engineers"][engineer][2] == "active" %}
              <option  value="{{engineer}}">{{engineer}}</option>
              {% endif %}
            {% endfor %}
              <option value="New"> New </option>
            </select>
            <!-- This should only appear when none is selected-->
            <div id="newInfo" style="display:none;">
              <label>Name:</label>
              <input type="text" id="engineerName" name="EngineerInput">
              <label>Team: </label>
              <select name="teamInput" id="team">
                <option value="Shop">Shop</option>
                <option value="Rig">Rig</option>
              </select>
              <label>Role:</label>
              <select name="roleInput" id="role">
                <option value="user">user</option>
                {% if data['role'] == 'admin' %}
                <option value="admin">admin</option>
                {% endif %}
              </select>
            </div>
        </div>     
        </div>
        <button type="submit" style="max-width: 10%; margin-top: 3%;" id="submitButton">Submit</button>
        </form>
    </div>
    <hr><!----------------------------------------------->
    <div style="width: 50%; margin: auto" id="form-container2">
      <form action="{{url_for('administration')}}" method="post" name="shopCategories">
      <h2>Shop Categories</h2>
      <div id="shopCategories">
        <div style="display:flex;">
            <input type="radio" id="add" name="function" value="add" checked="checked">
            <label for="add"> Add</label>
            <input type="radio" id="remove" name="function" value="remove" >
            <label for="remove"> Remove</label>
            <input type="radio" id="update" name="function" value="update" >
            <label for="update"> Update</label>
          </div>
          <label>Existing Shop Categories: </label>
          <select name="shopCategoryList" id="shopCategoryList">
          {% for category in data["shopTeam"] %} 
            <option  value="{{category}}">{{category}}</option>
          {% endfor %}
            <option value="New"> New </option>
          </select>
          <div id="newShopCategory" style="display:none;">
            <label>New Category:</label>
            <input type="text" id="shopCategoryName" name="shopCategoryName">
          </div>
        </div>
        <button type="submit" style="max-width: 10%; margin-top: 3%;" id="submitButton">Submit</button>
      </form>
    </div>
    <hr><!----------------------------------------------->
    <div style="width: 50%; margin: auto" id="form-container3">
      <form action="{{url_for('administration')}}" method="post" name="rigUpdates">
      <h2> Rig Updates</h2>

      <label>Shop </label><select name="topic" id="lvl1">
        <option value="" selected="selected">Select Shop</option>
      </select>
      <br><br>
      <label>Rig </label><select name="chapter" id="lvl2">
        <option value="" selected="selected">Select Rig</option>
      </select>
      




      <br>
      <button type="submit" style="max-width: 10%; margin-top: 3%;" id="submitButton">Submit</button>
      </form>
    </div>
    <hr><!----------------------------------------------->
    <div style="width: 50%; margin: auto" id="form-container3">
      <form action="{{url_for('administration')}}" method="post" name="rigProjects">
      <h2> Rig Projects</h2>
      <div id="rigProjects">
        <div style="display:flex;">
            <input type="radio" id="add" name="function" value="add" checked="checked">
            <label for="add"> Add</label>
            <input type="radio" id="remove" name="function" value="remove" >
            <label for="remove"> Remove</label>
            <input type="radio" id="update" name="function" value="update" >
            <label for="update"> Update</label>
          </div>
          <label>Existing Rig Projects: </label>
          <select name="projectList" id="projectList">
          {% for project in data["rigTeam"][2]['project']['active'] %} 
            <option  value="{{project}}">{{project}}</option>
          {% endfor %}
            <option value="New"> New </option>
          </select>
        
          <div id="newProject" style="display:none;">
            <label>New Project:</label>
            <input type="text" id="newProjectName" name="newProject">
          </div>
        </div>
        <button type="submit" style="max-width: 10%; margin-top: 3%;" id="submitButton">Submit</button>
      
      </form>
    </div>






    <div style=" display:none; width: 50%; margin: auto">
        <h2>{{data["engineers"]}}</h2>
        <h2>{{data["rigTeam"]}}</h2>
        <h2>{{data["shopTeam"]}}</h2>
    </div>
  <br>
<script>
  //ENGINEER CONTROLS
  //Displays the New Input items when dropdown is changed
  document.getElementById('engineer').addEventListener('change',
   function() {
    var style = this.value == "New" ? 'block' : 'none';
    document.getElementById('newInfo').style.display = style
   })

  //SHOP CATEGORY CONTROLS
  //Displays the New Input items when dropdown is changed
  
   document.getElementById('shopCategoryList').addEventListener('change',
   function() {
    var style = this.value == "New" ? 'block' : 'none';
    document.getElementById('newShopCategory').style.display = style
   })

   //Rig Data Controls
   let Troubleshooting = JSON.parse('{{data["rigData"] | tojson | safe}}');
   console.log('rig data:', Troubleshooting)
   var subjectObject = JSON.parse('{{data["allData"] | tojson | safe}}');
   console.log('allData:', subjectObject)
///////Menu Manager //////

      window.onload = function() {
        var subjectSel = 'Troubleshooting'//document.getElementById("lvl1");
        var topicSel = document.getElementById("lvl1");
        var chapterSel = document.getElementById("lvl2");
        for (var x in Troubleshooting) {
          topicSel.options[topicSel.options.length] = new Option(x, x);
        }
        topicSel.onchange = function() {
          //empty Chapters dropdown
          chapterSel.length = 1;
            //display correct values
            var z = Troubleshooting[topicSel.value];
            for (var i = 0; i < z.length; i++) {
              chapterSel.options[chapterSel.options.length] = new Option(z[i], z[i]);
            }
          }
      }
////////End Menu Manager/////////////////////////////////////////////////////////////


   //Project Controls
   //Displays the New Input items when dropdown is changed 
   document.getElementById('projectList').addEventListener('change',
   function() {
    var style = this.value == "New" ? 'block' : 'none';
    document.getElementById('newProject').style.display = style
   })
</script>
{% endblock %}