{% extends 'base.html' %}
{% block content %}
<nav>
    <a href="/" name='formpage' style="color:white">Home</a>
    <a href="{{url_for('timekeeper')}}" name='timekeeper' style="color: white">Timekeeper</a>
    <a href="{{url_for('engineers')}}" name='admin' style="color:hsl(353, 85%, 44%); font-weight: bold; text-shadow: 1px 1px  black;" >Administration</a>
    <span class="nav-right"><img id='logo' src="{{url_for('static', filename='White Logo.png')}}"></span>
  </nav>
  <br>
    <h1>{% block title %} Engineers {% endblock %}</h1>
    <div style="width: 50%; margin: auto">
        <!--{% for engineer in engineers %}
            {% if loop.index % 2 == 0 %}
                {% set bg_color = '#e6f9ff' %}
            {% else %}
                {% set bg_color = '#eee' %}
        {% endif %}-->
        <div style="padding: 10px; background-color: {{loop.cycle('#EEE', '#e6f9ff')}}; margin: 20px">
            <p>#{{ loop.index }}</p>
            <p style="font-size: 24px">{{ engineer }} is an engineer in our group</p>
        </div>
        {% endfor %}
    </div>
{% endblock %}