
{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Index {% endblock %}</h1>
    <h1>Time Tracking v0.0</h1>
    <h2>Time tracking tool for engineering group</h2>
    <h3>Current Time: {{ data['day'] }},  {{ data['utc_dt'] }}</h3>
    <h3 id="test">Test:</h3>
    <h3 id="user">user: {{ data['engineer'][0] }}</h3>
    <h3 id="team">Team: {{ data['engineer'][1] }}</h3>
    <!--<h3 id="test">{{data['file']}}</h3>-->


    <div class="container">
      <form action="{{ url_for("home")}}" method="post" name="selection">
      <div>
      {% if data['engineer'][1] == "Shop" %}
      <label>Category</label>
      <select name="CategoryInput" id="category">
        {% for cat in data['jobs']['category'] %}
        <option  value= "{{cat}}">{{cat}}</option>
        <!--<option value="Test Rigs">Test Rigs</option>
        <option value="Tool/Fixture/TestBox">Tool/Fixture/TestBox</option>
        <option value="Engineering Disposition">Engineering Disposition</option>
        <option value="External Communication">External Communication</option>
        <option value="Warranty">Warranty</option>-->
        {% endfor %}
      </select>
      </div>
      {% else %}
      <label>Project</label>
      <select id="project">
        {% for proj in data['jobs']['projects'] %}
        <option name="ProjectInput" value={{proj}}>{{proj}}</option>
        <!--<option value="Test Rigs">Cargo Rig</option>
        <option value="Tool/Fixture/TestBox">New Heli Rig</option>
        <option value="Engineering Disposition">3D Printing</option>
        <option value="External Communication">Nachos</option>-->
        {% endfor %}
      </select>
      {% endif %}
      <br>
      <label>Hours</label>
      <input id="HourInput" name="HourInput" type="number">
      <br><br>
      <button type="submit">Submit</button>
    </form>



    </div>
    <br>
    <h3>This Week: </h3>
    <div class="container">
        <table id="myTable">
          {% for key, value in data['file'].items() %}
            <tr>
              <th>{{value[0]}}</th>
              <th>{{value[1]}}</th>
              <th>{{value[2]}}</th>
              <th>{{value[3]}}</th>
              <th>{{value[4]}}</th>
              <th>{{value[5]}}</th>
              <th>{{value[6]}}</th>
              <th>{{value[7]}}</th>
            </tr>
          {% endfor %}
           <!-- <tr>
              <th></th>
              <th> Category</th>
              <th id="Monday">Monday</th>
              <th id="Tuesday">Tuesday</th>
              <th id="Wednesday">Wednesday</th>
              <th id="Thursday">Thursday</th>
              <th id="Friday">Friday</th>
            </tr>
            <tr>
              <td><button onClick ="newRow()"> + </button></td>
              <td>
                  <select id="category">
                    <option value="Technical Documentation">Technical Documentation</option>
                    <option value="Test Rigs">Test Rigs</option>
                    <option value="Tool/Fixture/TestBox">Tool/Fixture/TestBox</option>
                    <option value="Engineering Disposition">Engineering Disposition</option>
                    <option value="External Communication">External Communication</option>
                    <option value="Warranty">Warranty</option>
                  </select>
                </td>
              <td><input id="MondayInput" type="number"> </td>
              <td><input id="TuesdayInput" type="number"> </td>
              <td><input id="WednesdayInput" type="number"> </td>
              <td><input id="ThursdayInput" type="number"> </td>
              <td><input id="FridayInput" type="number"> </td>
            </tr>-->
          </table> 
    <script>

      let jsDay = {{ data['day'] | tojson }}
      document.getElementById("test").innerText = jsDay

      document.getElementById(jsDay).style.color = "lightblue"

      function newRow(){
        var table = document.getElementById("myTable")
        var row = table.insertRow(-1);
        var cell1 = row.insertCell(0);
        var cell = row.insertCell(1);
        var cell = row.insertCell(2);
        var cell = row.insertCell(3);
        var cell = row.insertCell(4);
        var cell = row.insertCell(5);

        cell1.createElement('select');

        var option = new Option()
        var option = new Option()
        var option = new Option()
        var option = new Option()
        var option = new Option()

        "Technical Documentation"
                   "Test Rigs"
                    "Tool/Fixture/TestBox"
                    "Engineering Disposition"
                    "External Communication"
                    "Warranty"



        
      }
      
      
      

    </script>
    </div>
{% endblock %}
