{% extends 'base.html' %}

{% block content %}
<h3>This Week: </h3>
<table id="myTable">
  {% for key, value in timekeeperdata['file'].items() %}
    <tr>
      <th>{{value[0]}}</th>
      <th>{{value[1]}}</th>
      <th>{{value[2]}}</th>
      <th>{{value[3]}}</th>
      <th>{{value[4]}}</th>
      <th>{{value[5]}}</th>
      <th>{{value[6]}}</th>
      <th>{{value[7]}}</th>
    </tr>
  {% endfor %}
  </table> 

  <div class="container">
    <h2>{{timekeeperdata['file']}}</h2>
  </div>
{% endblock %}