{% extends 'base.html' %}




{% block content %}
<nav>
  <a href="/" name='formpage' style="color:white">Home</a>
  <a href="{{url_for('timekeeper')}}" name='timekeeper' style="color:hsl(353, 85%, 44%); font-weight: bold; text-shadow: 1px 1px  black;">Timekeeper</a>
  <a href="{{url_for('engineers')}}" name='admin' style="color: white" >Administration</a>
  <span class="nav-right"><img id='logo' src="{{url_for('static', filename='White Logo.png')}}"></span>
</nav>
<br>
<div class="container">

    <h3>This Week: </h3>
  <div id="pandas">{{ tables[1]|safe }}</div>

  
  <button class="accordion">Total By Category</button>
  <div class="panel" id="tableContainer">
    <h2>Total by Category:</h2>
    <div id="pandas">
      <div id="weekCategory" style="display:none;">{{ tables[2]|safe }}</div>
      <div id="monthCategory" style="display:flex;">{{ tables[3]|safe }}</div>
      <div id="yearCategory" style="display:none;">{{ tables[4]|safe }}</div>

     
      <div id="timekeeperRadio" >
        <h5>Table Interval:</h5>
        <input type="radio" id="weekly" name="aggregate" value="week">
        <label for="weekly"> Week</label><br>
        <input type="radio" id="monthly" name="aggregate" value="month" checked>
        <label for="monthly" checked> Month</label><br>  
        <input type="radio" id="annually" name="aggregate" value="year">
        <label for="annually"> Year</label><br><br>

      </div>
      </div>
  </div>
  
  <button class="accordion">Full Time</button>
  <div class="panel">
    <h2>Full Template Output</h2>
    {{ tables[0]|safe }}
  </div>
</div>




<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.maxHeight) {
        panel.style.maxHeight = null;
      } else {
        panel.style.maxHeight = panel.scrollHeight + 50 + "px";
      } 
    });
  }

  //Grab the div with the applicable pandas table
  let weekCategory = document.getElementById("weekCategory")
  let monthCategory = document.getElementById("monthCategory")
  let yearCategory = document.getElementById("yearCategory")

  //Grab the radiobuttons
  radioButton = document.querySelectorAll("[name='aggregate']")

  radioWeek = document.querySelector("[id='weekly']")
  radioMonth = document.querySelector("[id='monthly']")
  radioYear = document.querySelector("[id='annually']")

  radioWeek.addEventListener("change", (event) => {
    console.log("week button changed")
    if (radioWeek.checked == true){
      console.log("radio week")
      weekCategory.style.display = "flex"
      monthCategory.style.display = "none"
      yearCategory.style.display = "none"
    }})

    radioMonth.addEventListener("change", (event) => {
    console.log("month button changed")
    if (radioMonth.checked == true){
      console.log("radio month")
      weekCategory.style.display = "none"
      monthCategory.style.display = "flex"
      yearCategory.style.display = "none"
    }})

    radioYear.addEventListener("change", (event) => {
    console.log("year button changed")
    if (radioYear.checked == true){
      console.log("radio year")
      weekCategory.style.display = "none"
      monthCategory.style.display = "none"
      yearCategory.style.display = "flex"
    }})
 

  </script>
{% endblock %}

